.back-color-hui {
	background-color: #1a253a;
}

.m-r14 {
	margin-right: 14rpx;
}

.wen {
	font-size: 46rpx;
	color: #6f87a4;
}

.f42 {
	font-size: 42rpx;
	line-height: 75rpx;
}

.font-17 {
	font-size: 34rpx;
}

.state {
	width: 120rpx;
	height: 40rpx;
	border-radius: 6rpx;
	text-align: center;
	font-size: 24rpx;
	line-height: 40rpx;
}
.state0 {
	background-color: rgba(248, 100, 100, 0.11);
	color: #d14b64;
}

.state1 {
	background-color: rgba(112, 222, 190, 0.1);
	color: #09b195;
}

.state2 {
	background-color: rgba(112, 145, 222, 0.18);
	color: #249efb;
}

.state3 {
	background-color: rgba(248, 100, 100, 0.11);
	color: #d14b64;
}

.color-finish {
	color: #249efb;
}
